*{
    margin: 0%;
    padding: 0%;
}
body{
    overflow: hidden;
}
.sky{
    height: 100vh;
    width: 100%;
    position: absolute;
    background-image: url(background.jpg);
    background-repeat: no-repeat;
}
.trees{
height: 100vh;
width: 100%;
background-image: url(trees.png);
background-size: cover;
position: absolute;
top: -144px;
}
.track{
    height: 60vh;
    width: 695vw;
    background-image: url(track.png);
    background-size: cover;
    position: absolute;
    background-repeat: no-repeat;
    top: 82vh;
    animation: carMove linear 6s infinite;
    }
    .car{
        height: 50px;
        width: 200px;
        background-image: url(car_body.png);
        background-size: cover;
        background-repeat: repeat-x;
        position: absolute;
        left: 263px;
        bottom: 123px;
        animation: shake linear 6s infinite;
    }
    .wheel1 img{
    width: 46px;
    position: relative;
    top: 20px;
    left: 18px;
    animation: wheelRotation linear .6s infinite;
    }
    
    .wheel2 img{
        width: 45px;
    position: relative;
    top: -31px;
    left: 118px;
    animation: wheelRotation linear .6s infinite;
    }

    @keyframes wheelRotation
    {
        100%{
            transform: rotate(360deg);
        }
    }

    @keyframes carMove
    {
        100%{
            transform: translateX(-500vw);
        }
    }
    @keyframes shake
    {
        0%{
            transform: translateY(-50px);
        }
        500%{
            transform: translateY(5px);
        }100%{
            transform: translateY(-5px);
        }
    }